@model Product
@*todo: add image placeholder*@


<img style="max-height: 300px; max-width: 200px" src="@Model.ImageUri" />
<h1>@Model.Name</h1>
<h3>@Model.Category.Name</h3>

<a asp-controller="Products" asp-action="AddToCart" asp-route-id="@Model.Id">Добавить в корзину</a>

@if (User.IsInRole("admin"))
{
    <a asp-controller="Admin" asp-action="EditProduct" asp-route-id="@Model.Id">Редактировать</a>
}